# Backend
BACKEND_URL=http://localhost:3001
AI_SERVER_SECRET=

# URL kamera (untuk test mandiri dengan the_eye.py / the_brain.py)
URL_KAMERA=http://192.168.18.3:4747/video

# Server
STREAM_PORT=5001
DETECTION_INTERVAL=1
